* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}

body {
  background-color: papayawhip;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img {
  border: solid black;
}

header {
  position: fixed;
  background-color: papayawhip;
  width: 100%;
  border: solid black;
  z-index: 4;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
}

#navbar {
  position: relative;
  top: 12px;
}

#navbar a {
  padding-left: 30px;
  padding-right: 30px;
}

#audioplayer {
  z-index: 4;
  position: absolute;
  width: 300px;
  height: 30px;
  right: 10px;
  top: 10px;
}

#header-text {
  position: absolute;
  top: 8px;
  left: 5px;
}

.fixedtext {
  position: fixed;
  top: 450px;
  left: 30px;
  background-color: papayawhip;
  border: solid black;
  z-index: 3;
}

#image-container,
#image-container2,
#image-container3,
#image-container4 {
  position: relative;
}

.caption {
  position: absolute;
  z-index: 3;
  background-color: papayawhip;
  border: solid black;
  bottom: 10px;
  right: 10px;
  width: 300px;
}

footer a {
  display: flex;
  justify-content: center;
}
